section .contaner{
display: flex;
justify-content: space-between;
width: 90%;
color:aliceblue;
padding-top: 70px;
margin: auto;

}
section .contaner .left{
    display: flex;
    width:60% ;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;

}
section .contaner .left .item{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    padding-top: 40px;

}
section .contaner .left .item h1{
    width: 100%;
    padding-bottom: 60px;

}
section .contaner .left .item img{
    width: 40%;
    height: 250px;
    border-radius: 10px;

}
section .contaner .left .item p{
    width: 60%;
    color: aliceblue;
    padding-left: 40px;
}
section .contaner .left .item button{
   
 
    border-radius: 5px;
    background-image: linear-gradient(black 30%,white 700%);
    color: aliceblue;
    padding: 5px 10px;
    border: none;
    

}
section .contaner .right{
    width: 20%;
    display: flex;
    flex-direction: column;
  
    gap: 50px;
}
section .contaner .right li{
    padding: 10px;
    
}
section .contaner .right ul{
    margin-top: 30px;

}
section .contaner .right h1{
    padding-top: 60px;
}