*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a{
    color: rgb(253, 253, 253);
}
.head-foot{
    width: 100%;
    font-family: 'Oswald', sans-serif; ;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  

}
.head-foot h1,h5,h2{
    color: white;
   
}
.head-foot h1{
    font-size: 50px;
   padding-bottom: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
    
}
.head-foot h2{
    font-size: 16px;
    position: absolute;
    right: 300px;
    top:20px;
    font-weight: 1;
}
.head-foot .hover{
    width: 400px;
    height: 30px;
   background-color: rgba(0, 1, 2, 0.651);
    position: absolute;
    top: 43px;
    z-index: 4;


}
.head-foot h5{
    position: absolute;
    top:60px;
    letter-spacing: 10px;
    font-size: 16px;
}
.contaner nav{
    width: 100%;
    background-color: black;
    COLOR:white;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    

}
.contaner nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 50%;
    background-image: linear-gradient(to top ,black, rgb(5, 5, 5) 70%, white 388%);
   
    z-index: 4;
    
   
}
.contaner nav li{
    padding: 10px 20px 50px;
    border: 1px solid rgb(5, 5, 5);
    border-top: none;
   

}

.contaner nav .hover-nav{
    width:30%;
    height: 79px;
    position: absolute;
    background-image: linear-gradient(to right, black,white 40%,black);
    top:113px

  
}



.contaner nav li:nth-child(1){
    border-left: NONE;
}
.contaner nav li:nth-child(6){
    border-right: none;
}
footer div.footer{
    width: 100%;
    background-color: black;
    margin: auto;
    display: flex;
    


}
footer div.footer ul{
    list-style: none;
    display: flex;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 50px;

}
footer div.footer ul li{
    padding: 5px 20px;

}
footer div.footer ul li a{
    color: rgb(80, 78, 78);
}
footer div.footer-2{
    background-color: black;
    margin: auto;
    width: 100%;
    color: aliceblue;
    text-align: center;
   
    
}
footer div.footer-2 P{
    font-size: 10px;
   
}